*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--theme-font-family);
    box-sizing: border-box;
}

:root 
{
    --navigation-theme-color: #222327;
    --theme-color: #333438;
    --theme-text-color: #ffffff;
    --theme-font-family: 'alata', sans-serif;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
}

body 
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--theme-color);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
}

img
{
    max-width: 100%;
    height: auto;
    vertical-align: border-box;
}

.navigationBar
{
    padding: 0 20px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--navigation-theme-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navigationBar .navigationBar-left
{
    display: flex;
    align-items: center;
}

.navigationBar .navigationBar-logo
{
    max-height: 64px;
    margin-right: 20px;
    min-width: 40px;
}

.navigationBar .navigationBar-item
{
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 20px 0;
    font-size: 20px;
    margin: 0 10px;
    color: var(--theme-text-color);
    cursor: pointer;
}

.homeHeader {
    height: calc(100vh);
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    position: relative;
}

.homeHeader .header-content {
    text-align: center;
    position: relative;
    z-index: 2;
}

.homeHeader .header-logo {
    width: 500px;
    max-width: 200px;
}

.homeHeader .header-title {
    font-weight: bold;
    color: var(--bs-body-bg);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}